<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pl.tobzzo.miechowskiepowietrze">

  <application
      android:name=".app.MpowApplication"
      android:allowBackup="true"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:supportsRtl="true"
      android:theme="@style/AppTheme">


    <activity
        android:name=".mvp.splash.SplashActivity"
        android:screenOrientation="portrait"
        android:theme="@style/TransparentStatusBarTheme">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

    <activity
        android:name=".mvp.main.MainActivity"
        android:screenOrientation="portrait"
        android:theme="@style/TransparentStatusBarTheme" />

    <activity
        android:name=".mvp.sensor.SensorActivity"
        android:screenOrientation="portrait"
        android:theme="@style/TransparentStatusBarTheme" />

  </application>

  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

  <uses-permission android:name="android.permission.INTERNET" />

</manifest>